<div class="row open-book" >
  <div class="col-lg-6 d-none d-lg-block bg-welcome-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome to Bookritics!</h1>
      </div>
      <div class="text">
        This project was developed with the purpose of gathering information and statistics from some of the main books of a certain author. In this version the J.R.R Tolkien books are being evaluated and we have your opinion / honesty to evaluate the items that will be presented informed a 0 to 5 star rating, or if you don't read, just check the option "I don't read". At the end of the vote, a partial result will be displayed. Go there!
      </div>
      <hr>
      <form class="user" #form="ngForm" (ngSubmit)="login()">
        <div class="alert alert-error" role="alert" *ngIf="message">
          <strong style="color: red">{{message}}</strong>
        </div>
        <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
            <input type="email" 
              [(ngModel)]= "user.email"
              name="email"
              class="form-control form-control-user" 
              id="inputEmail" 
              aria-describedby="emailHelp" 
              #email="ngModel"
              placeholder="Enter Email Address..."
              email>
              <span class="alert" *ngIf="email.invalid  && email.dirty">Email is invalid </span>
        </div>
        <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
          <input class="form-control form-control-user" [(ngModel)]="user.name"
            name="name" id="exampleInputPassword" placeholder="Your Name" #password="ngModel" required>
          <span class="alert" *ngIf="password.invalid && password.dirty">Name is required</span>
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-user btn-block">Let's evaluate...</button>
      </form>
    </div>
  </div>
</div>