<!-- <footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; by GambiBooks -  GambiSoft Company s/a 2019</span>
    </div>
  </div>
</footer> -->

<!-- Footer -->
<footer class="footer page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: by GambiBooks - 
      <a href="http://gambisoft.com.br"> GambiSoft.com.br</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->